h1{
    color: red;
}

$colorz: (
    primary: '#333333',
                secondary: '#282828', 
                white: '#ffffff',
                orange: '#FC6D28', 
                darkgrey: '#707070', 
                complete: '#2BFC83',
                inprogress: '#FF8936', 
                incomplete: '#FF1212', 
                lightgrey: '#cacaca'
            
);

@mixin infobox_mixin(){
     border: $boorder-radius solid $border-color ;
     padding: $padding ;
     margin-bottom: $margin-bottom ;
     color: $color;
}