<template>
    <div>
        <v-navigation-drawer
        color="primary"
        v-model="drawer"
        
      app
      >
      <ul>
          <router-link  tag="li" to="/"><p class="home1"><v-icon color="orange">home</v-icon>  Home </p></router-link>
          <router-link  tag="li" to="/menu"><p class="menu1"><v-icon color="orange">restaurant_menu</v-icon>Menu </p></router-link>
          <router-link tag="li" to="/about"><p class="about1"><v-icon color="red">info</v-icon>About</p></router-link>
      </ul>
    
    
    </v-navigation-drawer>

    <v-app-bar
    app
    >
    <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="headline">
          <span>IMAGE BY </span>
          <span class="font-weight-light"> RAPHAEL DEUTOU</span>
          </v-toolbar-title>
    </v-app-bar>
    </div>
</template>

<script>
export default {
    data: () => ({
        drawer: null,
      }),
}
</script>

<style lang="scss" scoped>
nav ul {
    padding: 0;
    margin-top: 20px;
    text-decoration: none;
}
nav li {
    color:  orange;
    margin-left: 15%;
    padding: 5px 20px;
    list-style-type: none;
    cursor: pointer ;
}
nav li i{
    margin-right: 10px;
}
nav li:last-child{
    position: absolute;
    color: inprogress
}
.about1{
    color: red;
}
.home1 , .menu1{
    color: orange;
}
</style>